<% layout("layouts/boilerplate") %>
<title>Profile</title>
<div class="row d-flex justify-content-center">
    <div class="col-9 mt-1 query-title">Your latest comments</div>
</div>
    <div class="row d-flex justify-content-center post-canvas align-content-start">
        <div class="col-9 col-md-7 order-2 order-md-1 post-container bg-dark mb-3 mt-2 pt-2 d-flex align-items-center">
            <% for (let x=0; x<Math.min(Math.max(5, profileNum), input_length); x++) {%>
                <div class="post mb-2 p-1 row w-100">
                    <div class="flex-wrap">
                        <b><a href="/history?user=<%=comments[x].user%>&startDate=&endDate="><%=comments[x].user%></a></b> on <b><%=comments[x].timestamp.toISOString().substring(0, 10)%></b><span>
                            <form action="/comments/<%=comments[x]._id%>/edit">
                                <button class="btn btn-sm text-black">Edit</button>
                                <input type="hidden" name="url" value="<%=page%>">
                                <input type="hidden" name="num" value="<%=Math.max(5, profileNum)%>" class="num">
                            </form><form action="/comments/<%=comments[x]._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm text-black">Delete</button>
                                <input type="hidden" name="url" value="<%=page%>">
                                <input type="hidden" name="num" value="<%=Math.max(5, profileNum)%>" class="num">
                            </form>
                        </span> 
                    </div>
                    <div><%=comments[x].comment%></div>
                </div>
            <% } %>
            <% if (profileNum == input_length) {%> 
                <p class="bottom-el">There are no more comments</p>
            <% } else if (input_length>5) { %>
                <button class="btn btn-light bottom-el" id="reload-btn">More comments</button>
            <% } %>
        </div>
        <div class="col-9 col-md-2 order-1 order-md-2 bg-dark mb-3 mt-2 pt-2 px-0 pb-2 d-flex flex-row align-items-center post-title">
            <div class="border-el flex-shrink-0"></div>
            <div class="w-100 h-100 d-flex flex-column align-items-center px-3 px-md-4 px-lg-5">
                <h3 class="text-white"><%=currentUser.username%></h3>
                <img class="img-fluid" src="/img/profile.webp" alt="">
                <p class="text-white my-2 text-center">Joined on <%=currentUser.regDate.toISOString().substring(0, 10)%></p>
            </div>
        </div>
    </div>
   
    <link rel="stylesheet" href="/style/profile.css">

    <script>
        let comm_length = <%=input_length%>;
        let currUsername = undefined;
        <% if (currentUser) {  %> 
            currUsername =  <%-JSON.stringify(currentUser.username)%>;
        <% }  %> 
        let conditions = {user:currUsername};
    </script>
    <script src="/js/query.js"></script>